<ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
        <a class="nav-link " href="index.html">
            <i class="bi bi-grid"></i>
            <span>Bienvenida!</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " href="instalacion.html">
            <i class="bi bi-download"></i>
            <span>Instalación</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#cli-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-terminal"></i><span>CLI Command</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="cli-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
                <a href="thor.html">
                    <i class="bi bi-circle"></i><span>thor</span>
                </a>
            </li>
            <li>
                <a href="composer.html">
                    <i class="bi bi-circle"></i><span>composer</span>
                </a>
            </li>
        </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-menu-button-wide"></i><span>Componentes</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
                <a href="componente-model.html">
                    <i class="bi bi-circle"></i><span>Modelos</span>
                </a>
            </li>
            <li>
                <a href="componente-view.html">
                    <i class="bi bi-circle"></i><span>Vistas</span>
                </a>
            </li>
            <li>
                <a href="componente-controller.html">
                    <i class="bi bi-circle"></i><span>Controladores</span>
                </a>
            </li>
        </ul>
    </li><!-- End Components Nav -->

    <li class="nav-heading">Otros</li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="preguntas.html">
            <i class="bi bi-question-circle"></i>
            <span>F.A.Q</span>
        </a>
    </li><!-- End F.A.Q Page Nav -->

    <li class="nav-item">
        <a class="nav-link collapsed" href="contacto.html">
            <i class="bi bi-envelope"></i>
            <span>Contacto</span>
        </a>
    </li><!-- End Contact Page Nav -->

</ul>